html, body {
  padding: 10px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  list-style: none;
  display: inline-block;
}

.boxdiv {
  display: inline-block;
  width: 450px;
  height: 150px;
  border: 1px solid black;
  background-color: silver;
  margin-left: 100px;
}
